<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inoueken.electronicmoneyapp">

    <application
        android:name="com.inoueken.electronicmoneyapp.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.electronicmoneyapp">
        <activity
            android:name="com.inoueken.electronicmoneyapp.ItemEdit"
            android:exported="true"
            android:label="@string/register_item"/>
        <activity
            android:name="com.inoueken.electronicmoneyapp.ItemActionChoose"
            android:exported="true"
            android:label="@string/register_item"/>
        <activity
            android:name="com.inoueken.electronicmoneyapp.ItemEditView"
            android:exported="true"
            android:label="@string/register_item"/>
        <activity
            android:name="com.inoueken.electronicmoneyapp.RegiNewItem"
            android:exported="true"
            android:label="@string/register_item"/>
        <activity
            android:name="com.inoueken.electronicmoneyapp.RegisterPage"
            android:exported="true"
            android:label="@string/register_item"/>
        <activity
            android:name="com.inoueken.electronicmoneyapp.MainActivity"
            android:exported="true"
            android:label="@string/login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.inoueken.electronicmoneyapp.ZhuActivity"
            android:label="@string/register_user" />
        <activity
            android:name="com.inoueken.electronicmoneyapp.PurchaseItemActivity"
            android:label="@string/purchase_item_activity_name" />
        <activity android:name="com.inoueken.electronicmoneyapp.PurchaseByGenreActivity" />
        <activity
            android:name="com.inoueken.electronicmoneyapp.MyPageActivity"
            android:label="@string/my_page_activity_name" />
        <activity
            android:name="com.inoueken.electronicmoneyapp.HistoryActivity"
            android:label="@string/purchase_history" />
    </application>
</manifest>